@import "mocha.css";

* {
    font-family: JetBrains Mono Nerd Font;
    font-weight: bold;
    font-size: 16px;
}

#waybar {
    background-color: @base;
    color: @text;
}

tooltip {
    background-color: @base;
    color: @text;
}

#workspaces button {
    padding: 5px;
    color: @overlay0;
}

#workspaces button.active {
    color: @lavender;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    border-color: transparent;
    color: @lavender;
}

#custom-launcher,
#custom-power,
#tray,
#clock,
#language,
#battery,
#backlight,
#pulseaudio,
#network,
#temperature,
#memory,
#cpu {
    padding: 5px 10px;
}

#custom-power {
    padding-right: 15px;
}
