@import "mocha.css";

* {
    font-family: JetBrains Mono Nerd Font;
    font-weight: bold;
    font-size: 16px;
}

#waybar {
    background-color: transparent;
    color: @text;
}

#waybar > box {
    background-color: @base;
    margin: 4px 4px 0px;
    border-radius: 4px;
}

tooltip {
  background-color: @base;
  color: @text;
}

#workspaces button {
    color: @lavender;
}

#workspaces button.active {
    color: @sky;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    border-color: transparent;
    color: @sky;
}

#battery.critical,
#temperature.critical {
    color: @red;
}

#custom-launcher,
#custom-power,
#clock,
#language,
#battery,
#backlight,
#pulseaudio,
#network,
#tray,
#temperature,
#memory,
#cpu {
	padding: 5px 10px;
}

#custom-power {
    padding-right: 15px;
}
